.background {
    background-color: var(--color-bg);
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
}

.title {
    font-size: 100px;
    -unity-font-style: bold;
    color: var(--color-yellow);
}
